$ItemWidthHeight : 60px;
$HardBorder : black 5px solid;
$LightBorder : black 1px solid;

.container{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sudokuPane{
  width: $ItemWidthHeight * 9;
  border: $HardBorder;
}

.sudokuItem{
  border: $LightBorder;
  height: $ItemWidthHeight;
  width: $ItemWidthHeight;
  user-select: none;
  text-align: center;
  line-height: $ItemWidthHeight;
  overflow: hidden;
  font-size: 30px;
}
.rightBorder{
  border-right: $HardBorder;
}

.bottomBorder{
  border-bottom: $HardBorder;
}
.inputItem{
  color : #33b4f1;
}

.selectItem{
  background: #ffec49;
}

.warmingItem{
  color: red;
}

.editContainer{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.editNumberItem{
  border: $LightBorder;
  height: $ItemWidthHeight;
  width: $ItemWidthHeight;
  user-select: none;
  text-align: center;
  line-height: $ItemWidthHeight;
  overflow: hidden;
  font-size: 30px;
}
.editNumberItem:active{
  background: #ffec49;
}

.editNumberItemSelect{
  background: #ffec49;
}

.editOptionContainer{
  width: $ItemWidthHeight * 10 + 60px;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.defaultButton{
  height: $ItemWidthHeight;
  width: $ItemWidthHeight;
  margin: 3px;
}

.enableMarkModel{
  background: #ffec49;
}

.enableEditModel{
  background: #ffec49;
}